body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
.btn btn-default {
    width: 250px;
    height: 50px;
    padding: 0;
    display: inline-block;
    line-height: 50px;
    text-align: center;
}
textarea {
    border-radius: 10px;
    border: 1px solid gray;
    padding: 20px;
    width: 250px;
    height: 150px;
}
.form-control {
    border-radius: 10px;
    border: 1px solid gray;
    padding: 20px;
    width: 250px;
    height: 20px;
}





